.app-searchBox {
  display: flex;
  justify-content: center;
  background-color: #dedede;
  border-bottom: 1px solid #b3b3b3;
  padding: 10px 20px;
}

.searchBox-input {
  padding: 10px;
  margin: 0 10px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  background-color: #f7f7f7;
  width: 100%;
}

.searchBox-btn {
  padding: 0 20px;
  background-color: #dedede;
  border: 2px solid #ff0000;
  border-radius: 4px;
  color: #ff0000;
  font-size: 15px;
  cursor: pointer;
  transition: all .3s;
}

.searchBox-btn:hover {
  background-color: #ff0000;
  color: #ffffff;
  border: 2px solid #dedede;
}

.searchBox-btn:disabled {
  filter: grayscale(100%);
}
